@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    position :none;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    width : 10px; height : 10px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
    /*font-size: 3rem;
    color: #C7B3FA;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;*/
}

.logo:hover{
    width : 10px; height : 10px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: rgb(31, 28, 28);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #C7B3FA;
    border-bottom: 3px solid #C7B3FA;
}

@media(max-width:995px){
    nav{
        position: none;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #C7B3FA;
        border-bottom: 3px solid #C7B3FA;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #C7B3FA;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: white;
}

.presentation .pre h3{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #C7B3FA;
}

.pre p{
    font-size: 1.6rem;
}

.pre-img{
    border-radius: 50% ;
}

.pr-img img{
    position: relative;
    width: 32vw;
    border-radius: 70% ;
    box-shadow: 0 0 25px solid #C7B3FA;
    cursor: pointer;
    transition: 0.2s linear;
}

.pre-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.icone-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #C7B3FA;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #C7B3FA;
}

.icone-media a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #C7B3FA;
    box-shadow: 0  0 25px #C7B3FA;
}


.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #C7B3FA;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #C7B3FA;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #C7B3FA;
    color: black;
    box-shadow: 0 0 25px #C7B3FA;
}

section.bts{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

.spec_bts{
    display: flex;
    gap: 2rem;
}

.option{
    
    width: 50%;
    border-radius: 2px;
    border-style: dotted;
    border-color:#C7B3FA;
}

section.rapport{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    text-decoration: underline;
}

div.rapport{
    border: #C7B3FA solid;
    border-radius: 17px;
}

section.tableau{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    text-decoration: underline;
}

section.veille{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

div.veille{
    border: #C7B3FA solid;
    border-radius: 17px;
}

div.veille2{
    width: 50%;
    float: left;
}

p.veille{
    text-align: center;
}

p.veille2{
    text-align: left;
}

.projets{
    font-size: 1.5rem;
}

u{
    text-decoration: underline;
}

div.tv{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

p.tv{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}


/*
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
*/
@keyframes cursor{
    to{
        border-left: 3px solid #C7B3FA;
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Youtuber";
    }
    81%, 100%{
        content: "Script Writer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .presentation{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .presentation .pre h3{
        font-size: 2.5rem;
    }

    .pre h3{
        font-size: 5rem;
    }

    .pre-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
